header {
    span.category {
      display: block;
      margin-top: 2.6rem;
  
      font-size: 2.25rem !important;
      font-weight: 600;
      color: var(--gray);
    }
    span {color: var(--white);}
  
  }